<div class="w-5/6 mx-auto">
  <div class="flex items-center justify-center my-8 md:my-12" aria-hidden="true">
    <div class="flex-grow h-px bg-gradient-to-r from-gray-800 via-pink-500 to-pink-500"></div> 
      <span class="mx-4 text-pink-400">
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="32"  
        height="32" 
        viewBox="0 0 24 24" 
        fill="currentColor" 
        stroke="currentColor" 
        stroke-width="0.5" 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        class="drop-shadow-[0_0_8px_#ec4899]"
      >
        <path d="M4 15.7c-.8 0-1.4.6-1.4 1.4v1.4c0 .8.6 1.4 1.4 1.4h16c.8 0 1.4-.6 1.4-1.4v-1.4c0-.8-.6-1.4-1.4-1.4H4z"></path>
        <path d="M12 16V6"></path>
        <circle cx="12" cy="4" r="2"></circle>
        <circle cx="18" cy="10" r="1"></circle>
      </svg>
    </span>
    <div class="flex-grow h-px bg-gradient-to-l from-gray-800 via-pink-500 to-pink-500"></div>
  </div>
</div>
